
#
# SPIRAM configuration
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_TYPE_AUTO=y
#CONFIG_SPIRAM_TYPE_ESPPSRAM64=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

#
# RTCIO configuration
#
CONFIG_RTCIO_SUPPORT_RTC_GPIO_DESC=y

#
# LWIP
#
CONFIG_LWIP_LOCAL_HOSTNAME="oneCam"

#
# oneCan configurations
#
CONFIG_ENABLE_FLASHLIGHT=y
CONFIG_ENABLE_MOTION_DETECTION=y
CONFIG_MOTION_DETECTION_PIN=12

#
# HTTP Server
#
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024